<header fxLayout="row" fxLayoutAlign="space-between center">
    <div class="left-section" fxFlex="25%" fxLayout="row" fxLayoutAlign="space-between center">
        <i class="fas fa-bars"></i>
        <div class="left-section__search" fxLayout="row">
            <input type="text" placeholder="Vyhledat">
            <button>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="right-section" fxLayout="row" fxLayoutAlign="space-between center">
        <img src="../../../assets/images/default-profile.png">
        <div class="right-section__user" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
            <span>Admin</span>
            <i class="fas fa-chevron-down"></i>
        </div>
        
    </div>
</header>
